/*
html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
body{
	background-color: #595247;
	font-family: 'Raleway',serif;

}
.border{
	border: solid 1px grey;
}

header{
	/*background: url(images/bg.jpg) no-repeat center center fixed;*/
	background-color: #3573A7;
	border-radius: 5px;
	text-align: center;
	color: white;
}

footer{
	text-align: center;
}

h1 { 
	font-family: 'Voltaire',serif;
	font-size: 30pt;
}

main{
	margin-top: 10px;
	padding: 5px;
}

.content{
	background-color: #B0D5F4;
	border-radius: 5px;
	float: left;
	width: 70%;
}

aside{
	border-radius: 5px;
	float: left;
}

.pad-margin{
	padding: 4px;
	margin: 5px;
}

/*Form Styles*/

input{
	display: block;
}

/*Skills menu*/

#cssmenu {
  background: #595247;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 12em;
}
#cssmenu li {
  font: 100% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}
#cssmenu a {
  background: #595247;
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: normal;
}
#cssmenu a:hover {
  background: #2580a2 url('images/hover.gif') left center no-repeat;
  color: #fff;
  padding-bottom: 8px;
}
