/*CHEAT SHEETS: 



*/

/* EXAMPLE 1: Styles all H1*/



h1{
	color: green;
}

/*EXAMPLE 2: Overrides the H1 and makes it red*/
h1,h2,h3{
	color: red;
}

p{
	background-color: #C0C0C0;/* HEX COLOR*/
}

/*EXAMPLE 3: Change all fonts in the header to a small content*/;
#header{
	font-size:10px;	
}

#header h1{
	font-size: 14px;
	font-weight: bold;
	font-family: serif;
}

#header h2{
	border:dashed;
}

#header{
	border-color:#0000FF;
	margin-top: 50px;
	margin-left: 30px;
	margin-bottom: 50px;
	margin-right: 50px;
}

#header .important{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 100px;
	padding-left: 100px;	
}

ul{
	list-style: circle;
}

/*NOTICE THAT IN ORDER TO EXPLICTLY STYLE THE ADDRESS UL YOU HAVE TO Ul.{CSS STYLE}*/
ul.address{
	list-style: none;
}

/*BEGIN NOTICE HOW THE CLASS AND THE h5 OVERRIDE THE DEFAULT VALUE OF GREEN*/
.address h5 {
	color:green;
}

li h5{
	color:red;
}
/*END*/

a:link    {color:green;}
a:visited {color:green;}
a:hover   {color:red;}
a:active  {color:yellow;} 

a.style-test:hover,a.style-test2:active {color:rgb(10,43,20); border: 10px; font-size: 25px; }